<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if producto %}
        <form action="{% url 'modificar_producto' pk=producto.id_producto %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Modificar">
        </form>
    {% else %}
        <p>No hay producto</p>
    {% endif %}
    
    <p>{{mensaje}}</p>

    <a href="{% url 'productos_list' %}">Regresar</a>
</body>
</html>